@model UCP1_PAW_003_A.Models.Pemesanan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pemesanan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPesan" class="control-label"></label>
                <input asp-for="IdPesan" class="form-control" />
                <span asp-validation-for="IdPesan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalPesan" class="control-label"></label>
                <input asp-for="TanggalPesan" class="form-control" />
                <span asp-validation-for="TanggalPesan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJadwal" class="control-label"></label>
                <input asp-for="IdJadwal" class="form-control" />
                <span asp-validation-for="IdJadwal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JumlahPesan" class="control-label"></label>
                <input asp-for="JumlahPesan" class="form-control" />
                <span asp-validation-for="JumlahPesan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
